name: Test Jekyll Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'
        bundler-cache: true
        working-directory: ./docs
    
    - name: Build site
      run: |
        cd docs
        bundle exec jekyll build
      env:
        JEKYLL_ENV: production
